h1{
    text-align: center;
    font-size: 100px;
    color: black;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-top: 10%;
}

body{
    background-color: antiquewhite;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-top: 10%;
}
img{
    display: block;
    margin: 0 auto;
    width: 100%;
    border: 50px;
    padding: 5px;
    border-radius: 50px;
}
figcaption{
    font-size: 41px;
    text-align: center;
    padding-top: 25px;
    color: grey;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-top: 10%;
}
#p1{
    font-size: 18px;
    column-count: 2;
    padding: 10px 10px;
    column-gap: 55px;
}
div{
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
    padding-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-top: 10%;
    
}
#last{
    font-size: 18px;
    text-align: left;
    float: left;
    column-count: 2;
    column-gap: 55px;
    font-family: 'Lora', serif;
    padding-left: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-top: 10%;
}
#last2{
    padding-top: 20px;
    padding-right: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-top: 10%;
}
blockquote{
    font-size: 30px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-top: 10%;
}
